<header class="masthead">
    <div class="container">
        <div class="masthead-subheading">{{ subTitle }}</div>
        <div class="masthead-heading text-uppercase">{{ title }}</div>
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#experiences">Tell Me More</a>
    </div>
</header>